<tr>
  <th scope="row"><%= name %></th>
  <td><%= won_tricks_count %></td>
  <td><%= points %></td>
  <td><%= team_points %></td>
  <td><%= game_points %></td>
  <td class="<%= winner ? 'score-winner' : '' %>"></td>
</tr>
