<div class="game-shorthands">
  <span class="bid-shorthand <%= bid[:classes] %>" id=<%= bid[:id] %>>
    <%= bid[:shorthand] %>
  </span>
  <% announcements.each do |a| %>
    <span class="<%= classes %>" id=<%= a[:id] %>>
      <%= a[:shorthand] %>
    </span>
  <% end %>
</div>

