<% players.each do |player| %>
  <div class="d-flex justify-content-center game-point <%= points_classes(player) %>" id: <%= player[:id] %> >
    <div class="game-point-inner">
      <%= player[:points] %>
    </div>
  </div>
<% end %>
<div class="game-shorthands" id="js-game-points-shorthands-<>
  <span class="bid-shorthand <%= bid_classes(bid) %>"%>
    <%= bid[:shorthand] %>
  </span>
  <% announcements.each do |a| %>
    <span class="<%= announcement_classes(a) %>" id=<%= a[:id] %>>
      <%= a[:shorthand] %>
    </span>
  <% end %>
</div>
