<div class="forehand-indicator <%= 'd-none' unless forehand %>" id="js-player-<%= id %>-forehand-indicator">
  <span class="sr-only">Forehand</span>
</div>
<div class="declarer-indicator <%= 'd-none' unless declarer %>" id="js-player-<%= id %>-declarer-indicator">
  <span class="sr-only">Declarer</span>
</div>
<div class="partner-indicator <%= 'd-none' unless known_partner %>" id="js-player-<%= id %>-partner-indicator">
  <span class="sr-only">Partner</span>
</div>
