<div class="player-name-container">
  <span><%= name %></span>
  <%= render 'games/players/player/waiting', local_assigns %>
</div>
<%= render 'games/players/player/role', local_assigns %>
<div class="player-announcements" id="js-player-<%= id %>-announcements-indicators">
  <%= announcements %>
</div>
