<div class="player-name-container">
  <%= render 'games/players/player/waiting', local_assigns %>
  <span><%= name %></span>
</div>
<%= render 'games/players/player/role', local_assigns %>
<%= render 'games/players/player/human_link', local_assigns %>
<div class="player-announcements" id="js-player-<%= id %>-announcements-indicators">
  <%= announcements %>
</div>
