<div class="finished-buttons <%= visible ? '' : 'd-none' %>" id="js-finished-buttons">
  <div>
    <%= button_tag 'Show hand scores', type: 'button', class: 'btn btn-outline-dark', onClick: 'showScores()' %>
  </div>

  <div>
    <%= button_tag 'Show game points', type: 'button', class: 'btn btn-outline-dark', onClick: 'showPoints()' %>
  </div>

  <div>
    <%= button_tag 'Show talon', type: 'button', class: 'btn btn-outline-dark', onClick: 'showTalonGameEnd()' %>
  </div>

  <div>
    <%= link_to 'Next hand', next_hand_path, method: :post, class: 'btn btn-outline-dark' %>
  </div>
</div>
