<div class="announcement-buttons-container center-container <%= visible ? "" : "d-none" %> " id="js-valid-announcements">
  <div class="announcement-buttons" id="js-valid-announcement-buttons">
    <% @game.valid_announcements.each do |slug, name| %>
      <input hidden=true id="valid-announcement-<%= slug %>" name="game[make_announcement][]" type="checkbox" value="<%= slug %>" />
      <%= announcement_button(slug, name) %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center <%= visible ? "" : "d-none" %>" id="js-valid-announcements-submit">
    <%= form.submit 'make announcements', disabled: true, id: 'js-announcements-submit', class: 'btn btn-outline-dark submit-announcements-button' %>
  </div>
</div>
