<div class="row pl-4 pr-4 justify-content-center hand-container">
  <% @player.hand.each do |card| %>
    <div class="card-container hand">
      <% if hand_card_pickable?(@game, @player, @action) %>
        <input hidden=true id="<%= @action %>_<%= card.slug %>" name="game[<%= @action %>][]" type="checkbox" value="<%= card.slug %>" />
      <% end %>
      <%= hand_card_button(card, @game, @player, @action) %>
    </div>
  <% end %>
</div>
<% if human_resolve_talon?(@game, @player) %>
  <div class="center-container">
    <%= form.submit 'put down cards', disabled: true, id: 'talon-submit', class: 'btn btn-outline-dark new-game-button' %>
  </div>
<% end %>
