<div class="card">
  <div class="card-body" id="player-<%= player.position %>" >
    <h5 class="card-title">
      <div
        class="spinner-grow spinner-grow-sm text-secondary mb-1v <%= @game.next_player&.id == player.id ? '' : 'd-none' %> "
        role="status"
        id="js-player-<%= player.position %>-waiting"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <%= player.name(false) %>
      <% if player.forehand? %>
        <div class="forehand-indicator">
          <span class="sr-only">Forehand</span>
        </div>
      <% end %>
      <div class="declarer-indicator <%= player.role == 'declarer' ? '' : 'd-none' %>" id="js-player-<%= player.position %>-declarer-indicator">
        <span class="sr-only">Declarer</span>
      </div>
      <div class="partner-indicator <%= player.known_partner ? '' : 'd-none' %>" id="js-player-<%= player.position %>-partner-indicator">
        <span class="sr-only">Partner</span>
      </div>
    </h5>
    <div id="player-<%= player.position %>-top-info">
      <% if player.human? && !player.active? %>
        <h6>
          <%= link_to 'human', edit_match_player_game_path(@match_id, player.id, @game), target: '_blank', class:'card-subtitle mb-2 text-muted' %>
        </h6>
      <% end %>
    </div>
    <div id="js-player-<%= player.position %>-announcements">
      <h6 class="card-subtitle mb-2 text-muted">
        <%= player.announcements_text %>
      </h6>
    </div>
    <div id="js-player-<%= player.position %>-bids">
      <% if @action == 'make_bid' %>
        <% player.bids.each do |bid| %>
          <h6 class="card-subtitle mb-2 text-muted"><%= bid %></h6>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
