<div class="message">
  <% @message.each do |m| %>
    <p><%= m %></p>
  <% end %>
</div>

<% if @stage.action != 'make_bid' %>
  <%= render 'info' %>
<% end %>

<%= form_with model: @game, url: match_player_game_path(@match_id, @player_id, @game.id), local: true, html: {id: "gameForm"}, class: 'game-container' do |form| %>
  <input hidden=true name="game[action]" value=<%= @stage.action %> id="js-stage" data-stage=<%= @stage.action %> data-human-player=<%= @game.next_player_human? %> data-bid-slug=<%= @bids.winning_bid_slug %> />

  <%= render 'players', form: form %>

  <% if @stage.action == 'make_bid' && @game.next_player_human? %>
    <%= render 'bid', player: @player %>
  <% end %>

  <% if @stage.action == 'make_announcement' && @game.next_player_human? %>
    <%= render 'announcement', player: @player, form: form %>
  <% end %>

  <%= render 'hand', form: form %>

  <% if @stage.action == 'pick_king' %>
    <%= render 'kings'  %>
  <% end %>

  <% if @stage.show_talon? %>
    <%= render 'talon', talon: @game.talon %>
  <% end %>

  <% if ['play_card', 'next_trick', 'finished'].include?(@stage.action) %>
    <%= render 'trick', cards: @tricks.trick_cards, form: form %>
  <% end %>

  <% if @game.stage == 'finished' %>
    <%= render 'score' %>
    <%= render 'matches/points' %>
  <% end %>

  <% if true %>
  <% end %>
<% end %>

<% if @game.stage == 'finished' %>
  <div class="finished-buttons">
    <%= button_tag 'Show hand scores', type: 'button', class: 'btn btn-outline-dark new-game-button', onClick: 'showScores()' %>

    <%= button_tag 'Show game points', type: 'button', class: 'btn btn-outline-dark new-game-button', onClick: 'showPoints()' %>
    <%= form_with scope: :game, url: match_player_games_path(@match_id, @player_id), local: true, class: 'new-hand-button-container' do |form| %>
      <%= form.submit "next hand", class: 'btn btn-outline-dark new-game-button' %>
    <% end %>
  </div>
<% end %>

<%= link_to 'New game', new_match_path, class: 'btn btn-outline-dark new-game-button' %>
