<h1>Play Konigsrufen!</h1>
<%= form_with model: @game, local: true, html: {id: "gameForm"} do |form| %>
  <input hidden=true name="game[action]" value=<%= @game.stage %> />
  <div class="container">
    <%= render 'hand', hand: @game.players[0].cards, form: form %>
    <% if @game.stage == :make_bid %>
      <%= render 'bid' %>
    <% end %>
    <% if @game.stage == :pick_king %>
      <%= render 'kings', hand: @game.players[0].cards %>
    <% end %>
    <% if [:pick_talon].include?(@game.stage) %>
      <%= render 'talon', talon: @game.talon %>
    <% end %>
    <% if [:play_card, :finished].include?(@game.stage) %>
      <%= render 'trick', cards: layout_trick(@game.current_trick&.cards), players: layout_players(@game), form: form %>
    <% end %>
    <% if @game.stage == :finished %>
      <%= render 'score', players: layout_players(@game), form: form %>
    <% end %>
  </div>
<% end %>
<%= form_with scope: :game, url: games_path, local: true do |form| %>
  <p>
    <%= form.submit "new game" %>
  </p>
<% end %>
