<div class="game">
  <%= form_with url: paths[:update_path], method: :patch, html: {id: "gameForm"}, class: 'game-container' do |form| %>
    <%= render 'contract', contract %>

    <%= render 'state', local_assigns %>

    <%= render 'navigation/navigation_buttons', paths %>

    <%= render 'loading_spinner' %>

    <%= render 'players/players', players: players %>

    <%= render('bids/bids', bids) %>

    <%= render('bids/bids', announcements) %>

    <%= render 'kings/kings', kings %>

    <%= render 'talon/pick_talon', pick_talon.merge(form: form) %>

    <%= render 'talon/resolve_talon', resolve_talon.merge(form: form) %>

    <%= render 'tricks/tricks', tricks.merge(form: form) %>

    <%# <%= render 'finished/finished', finished %> %>
  <% end %>
</div>
