<div class="game">
	<%= form_with model: @game.model, url: match_player_game_path(@match_id, @player_id, @game.id), html: {id: "gameForm"}, class: 'game-container' do |form| %>
		<%= render 'state' %>
		<input id="js-stage" hidden=true name="game[action]" value=<%= @action %> />

		<div class="instruction alert alert-primary" role="alert" id="instruction">
			<%= @instruction %>
		</div>

		<div class="home-button-container">
			<%= link_to fa_icon('home'), matches_path, class: 'btn btn-outline-dark' %>
			<%= link_to fa_icon('undo'), reset_match_player_game_path(@match_id, @player_id, @game.id), method: :post, class: 'btn btn-outline-dark' %>
    </div>

		<div
			class="center-container spinner-border text-primary d-none"
			role="status"
			id="js-in-progress-spinner"
			>
			<span class="sr-only">Loading...</span>
		</div>

		<%= render 'message', message: @message %>

		<%= render 'players', form: form %>

		<%= render 'bid', player: @player, visible: @action == 'make_bid' && @my_move %>

		<%= render 'announcement', player: @player, visible: @action == 'make_announcement' && @my_move, form: form %>

		<%= render 'hand', form: form %>

		<%= render 'kings', visible: @action == 'pick_king'  %>

		<%= render 'talon', talon: @game.talon, visible: ['pick_talon', 'pick_whole_talon'].include?(@action) || (@action == 'resolve_talon' && !@player.declarer?) %>

		<%= render 'tricks', tricks: @tricks, form: form, visible: @action == 'play_card', visible_trick_index: @visible_trick_index %>

		<%= render 'score', visible: @game.stage == 'finished' %>
		<%= render 'matches/points', visible: false %>

		<div class="finished-buttons <%= @game.stage == 'finished' ? '' : 'd-none' %>" id="js-finished-buttons">
			<div>
				<%= button_tag 'Show hand scores', type: 'button', class: 'btn btn-outline-dark', onClick: 'showScores()' %>
			</div>

			<div>
				<%= button_tag 'Show game points', type: 'button', class: 'btn btn-outline-dark', onClick: 'showPoints()' %>
			</div>

			<div>
				<%= button_tag 'Show talon', type: 'button', class: 'btn btn-outline-dark', onClick: 'showTalonGameEnd()' %>
      </div>

			<div>
				<%= button_tag 'Next hand', type: 'button', class: 'btn btn-outline-dark', onClick: 'nextHand()' %>
			</div>
		</div>
	<% end %>
</div>
