<%= form_with model: @game, url: match_player_game_path(@match_id, @player_id, @game.id), html: {id: "gameForm"}, class: 'game-container' do |form| %>
  <input id="js-state" hidden=true data-stage=<%= @action %> data-my-move=<%= @my_move %> data-won-bid=<%= @bids.winning_bid_slug %> data-is-declarer=<%= @player.declarer? %> data-player-id=<%= @player.id %> data-game-id=<%= @game.id %> data-current-trick=<%= @game.current_trick&.trick_index %> />
  <input id="js-stage" hidden=true name="game[action]" value=<%= @action %> />

  <% if @waiting %>
    <input hidden=true id="reload-on-match-msg" data-match-id=<%= @match_id %> />
  <% end %>

  <%= render 'message', message: @message %>

  <%= render 'players', form: form %>

  <%= render 'bid', player: @player, visible: @action == 'make_bid' && @my_move %>

  <%= render 'announcement', player: @player, visible: @action == 'make_announcement' && @my_move, form: form %>

  <%= render 'hand', form: form %>

  <%= render 'kings', visible: @action == 'pick_king'  %>

  <%= render 'talon', talon: @game.talon, visible: ['pick_talon', 'pick_whole_talon'].include?(@action) || (@action == 'resolve_talon' && !@player.declarer?) %>

  <%= render 'tricks', tricks: @tricks, form: form, visible: @action == 'play_card' %>

  <%= render 'score', visible: @game.stage == 'finished' %>
  <%= render 'matches/points', visible: false %>

  <div class="new-game-button-container">
    <%= link_to 'New game', new_match_path, class: 'btn btn-outline-dark new-game-button' %>
  </div>

  <div class="finished-buttons <%= @game.stage == 'finished' ? '' : 'd-none' %>" id="js-finished-buttons">
    <div>
      <%= button_tag 'Show hand scores', type: 'button', class: 'btn btn-outline-dark new-game-button', onClick: 'showScores()' %>
    </div>

    <div>
      <%= button_tag 'Show game points', type: 'button', class: 'btn btn-outline-dark new-game-button', onClick: 'showPoints()' %>
    </div>

    <div>
      <%= button_tag 'Next hand', type: 'button', class: 'btn btn-outline-dark new-game-button', onClick: 'nextHand()' %>
    </div>
  </div>
<% end %>
