<div class="container mb-5 mt-3">
  <h2 class="mb-4">New game</h2>
  <%= link_to '', matches_path(match: { human_count: 1 }), method: :post, class: 'btn btn-primary new-game-button humans-1', title: 'new single player game' %>
  <%= link_to '', matches_path(match: { human_count: 2 }), method: :post, class: 'btn btn-primary new-game-button humans-2', title: 'new game with 2 humans, 2 bots' %>
  <%= link_to '', matches_path(match: { human_count: 3 }), method: :post, class: 'btn btn-primary new-game-button humans-3', title: 'new game with 3 humans, 1 bot' %>
  <%= link_to '', matches_path(match: { human_count: 4 }), method: :post, class: 'btn btn-primary new-game-button humans-4', title: 'new game with 4 humans' %>
  <hr>

  <h2 class="mb-4">My games</h2>
  <% if @my_matches.empty? %>
    <div class='no-matches-text'>You have not joined any games</div>
  <% end %>
  <div class='match-cards-container'>
    <% @my_matches.each do |match| %>
      <div class='match-card-container'>
        <%= render 'matches/match_listing', match: match, joined: true %>
      </div>
    <% end %>
  </div>

  <hr>

  <h2 class="mb-4">Open games</h2>
  <% if @open_matches.empty? %>
    <div class='no-matches-text'>The are no games available to join</div>
  <% end %>
  <div class='match-cards-container'>
    <% @open_matches.each do |match| %>
      <div class='match-card-container'>
        <%= render 'matches/match_listing', match: match, joined: false %>
      </div>
    <% end %>
  </div>
</div>
