<div class="card match-card">
  <div class="card-body">
    <p class="card-text">
      <div class="player-points">
        <%= "#{match.points_for(@player)}" %>
      </div>
      <div class="hand-count">
        <%= hand_count_text(match) %>
      </div>
      <div class="match-days-ago">
        <%= "Started #{match_days_ago_text(match)}" %>
      </div>
    </p>
    <p class="card-text">
      <%= render 'matches/match_listing/player_names', players: match.players %>
    </p>
  </div>
  <div class="card-footer">
    <% if joined %>
      <% if match.players.count < 4 %>
        <p class="card-text">Waiting for players</p>
        <%= link_to "Add bot", add_bot_match_path(match), method: :post %>
      <% else %>
        <%= link_to "Go to game", play_match_path(match), method: :post, class: 'stretched-link' %>
      <% end %>
    <% else %>
        <%= link_to "Join game", join_match_path(match), method: :post, class: 'stretched-link' %>
    <% end %>
  </div>
</div>
