<div class="points-container center-container" id="js-points-container">
  <div class="points-container-grid">
    <% @players.each do |p| %>
      <div class="d-flex justify-content-center">
        <%= p.name %>
      </div>
    <% end %>
    <div class=""></div>
    <% match_points(@match_games, @player).each_with_index do |points, i| %>
      <% next unless @match_games[i].finished? %>
      <% points.each_with_index do |player_points, player_i| %>
        <div class="d-flex justify-content-center game-point <%= points_classes(@players[player_i], @match_games[i]) %>" >
          <div class="game-point-inner">
            <%= player_points %>
          </div>
        </div>
      <% end %>
      <div class="game-shorthands">
        <div class="bid-shorthand <%= bid_classes(@match_games[i]) %>">
          <%= bid_shorthand(@match_games[i]) %>
        </div>
        <div class="announcement-shorthands">
          <%= announcement_shorthands(@match_games[i]) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
