<div class="points-container center-container <%= visible ? '' : 'd-none' %>" id="js-points-container">
  <div class="points-container-grid">
    <% @players.each do |p| %>
      <div class="d-flex justify-content-center">
        <%= p.name %>
      </div>
    <% end %>
    <div class=""></div>
    <div style="display: contents" id="js-points">
      <% @match.games.select(&:finished?).map(&:summary).each do |summary| %>
        <% summary[:players].each do |player| %>
          <div class="d-flex justify-content-center game-point <%= points_classes(player) %>" >
            <div class="game-point-inner">
              <%= player[:points] %>
            </div>
          </div>
        <% end %>
        <div class="game-shorthands">
          <span class="bid-shorthand <%= 'vs-three' if summary[:vs_three] %> <%= 'off' if summary[:off] %>">
            <%= summary[:bid] %>
          </span>
          <% summary[:announcements].each do |a| %>
            <span class="<%= announcement_classes(a) %>">
              <%= a[:announcement] %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
